<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to MyRecipes</h1>
  <p class="lead">The best recipe sharing app!</p>
  <%= link_to 'Sign up or Log in', '#', class: 'btn btn-outline-success btn-lg', role: 'button' %>
</div>

<div class="row justify-content-around">
  <div class="col-lg-3 col-sm-12 border m-1">
    <h2>Keto Friendly Recipes</h2>
    <p>
      Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
    </p>
    <%= link_to 'See Recipes', '#', class: 'btn btn-outline-success btn-lg', role: 'button' %>
  </div>
  <div class="col-lg-3 col-sm-12 border m-1">
    <h2>Keeping it Healthy</h2>
    <p>
      Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
    </p>
    <%= link_to 'See Recipes', '#', class: 'btn btn-outline-success btn-lg', role: 'button' %>
  </div>
  <div class="col-lg-3 col-sm-12 border m-1">
    <h2>Dessert Lovers</h2>
    <p>
      Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
    </p>
    <%= link_to 'See Recipes', '#', class: 'btn btn-outline-success btn-lg', role: 'button' %>
  </div>
</div>