// MAIN

body {
  margin-top: 80px;
  font-size: 16px;
}

// NAVIGATION

nav {
  background-color: #201911;
}

.hovered:hover {
  border: green solid 2px;
}

// Jumbotron
.jumbotron {
  background-image: asset-url('home/plate-line.jpeg');
  background-size: cover;
  height: 25rem;
  color: #fff;
}
